.header_section{
    background-image: linear-gradient(rgba(0,0,200,0.4),rgba(0,0,200,0.4)),url(https://a-static.besthdwallpaper.com/never-sleeping-night-city-wallpaper-960x600-96205_1.jpg);
    height: 500px;
    font-size: 15px;
    color: white;
}

.container-1{
    padding: 10%;
    margin: auto;
    position: relative;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}
h1{
    font-size: 50px;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 20px;
}
.keypads{
    padding-bottom: 1rem;
    justify-content: space-evenly;
   border-radius: 1.5rem;
   display: flex;
   box-sizing: inherit;
}

#online-section{
background-color: red;
justify-content: space-evenly;
align-items: center;

}
h4{
    color: white;
    padding-top: 10px;
}
.hero-section{
    padding-top: 10%;
}
.hero-image{
    border-radius: 2rem;
}
#job-section{
margin: auto;
padding: 10%;
background-color:#071952;
color: white;
}
.btn-view{
   width: 100px;
   justify-content: center;
}
.btn-jobs{
    justify-content: end;
    align-items: end;
   margin-left: 80%;
   border-radius: 5px;
   background-color: blue;
   padding: 1%;
   }
  .review-line{
    padding-top: 30px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
  }
  .review-line h2{
    font-size: 50px;
  }
  .expert_section .box {
    display: flex;
    flex-direction: column;
    background-color: #08135c;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 45px;
  }
  .heading_container h2{
  justify-content: center;
  align-items: center;
margin-left: 30%;
  }
  .heading_container p{
    justify-content: center;
    align-items: center;
  }
  .expert_section .box .img-box {
    width: 100%;
  }
  
  .expert_section .box .img-box img {
    width: 100%;
  }
  
  .expert_section .box .detail-box {
    width: 100%;
    color: #ffffff;
    padding: 25px 15px;
  }
  
  .expert_section .box .detail-box a {
    color: inherit;
    font-size: 18px;
  }
  
  .expert_section .box .detail-box .expert_position {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .expert_section .box .detail-box .expert_rating {
    display: flex;
    margin-bottom: 15px;
  }
  
  .expert_section .box .detail-box p {
    margin-bottom: 0;
  }
  
  .expert_section .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }
  
  .expert_section .btn-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #e41a2b;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e41a2b;
    outline: none;
  }
  
  .expert_section .btn-box a:hover {
    background-color: transparent;
    color: #e41a2b;
  }

  .blog_section .box {
    padding-bottom: 25px;
    position: relative;
    margin-top: 45px;
  }
  
  .blog_section .box .date_box {
    position: absolute;
    top: 0;
    left: 25px;
    padding: 20px;
    background-color: #08135c;
  }
  
  .blog_section .box .date_box h5 {
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
  }
  
  .blog_section .box .img-box img {
    width: 100%;
  }
  
  .blog_section .box .detail-box {
    margin-top: 25px;
    padding: 0 25px;
  }
  
  .blog_section .box .detail-box .blog_info {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
  }
  
  .blog_section .box .detail-box .blog_info a {
    color: #50504f;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0;
    margin-right: 25px;
  }
  
  .blog_section .box .detail-box .blog_info a span {
    margin-right: 5px;
  }
  
  .blog_section .box .detail-box .blog_info a i {
    font-size: 20px;
  }
  
  .blog_section .box .detail-box .blog_info a:hover {
    color: #e41a2b;
  }
  
  .blog_section .box .detail-box .blog_text h4 {
    font-weight: bold;
  }
  
  .blog_section .box .detail-box .blog_text p {
    color: #555555;
    font-size: 15px;
    margin-top: 10px;
  }
  
  .blog_section .box .detail-box a.blog_btn {
    color: #e41a2b;
  }

  .info_section {
    background-color: #030d47;
    color: #ffffff;
    padding: 65px 0 45px 0;
  }
  
  .info_section h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .info_section .info_links ul {
    padding-left: 15px;
  }
  
  .info_section .info_links ul .active::before {
    background-color: #e41a2b;
  }
  
  .info_section .info_links ul li {
    list-style-type: none;
    position: relative;
  }
  
  .info_section .info_links ul li::before {
    content: "";
    left: -15px;
    top: 50%;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
  }
  
  .info_section .info_links ul li a {
    color: #ffffff;
  }
  
  .info_section .info_links ul li:hover::before {
    background-color: #e41a2b;
  }
  
  .info_section .info_form input {
    width: 100%;
    border: none;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 15px;
    background-color: #eaeaea;
    outline: none;
    color: #101010;
  }
  
  .info_section .info_form button {
    display: inline-block;
    padding: 10px 45px;
    background-color: #e41a2b;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e41a2b;
    outline: none;
  }
  
  .info_section .info_form button:hover {
    background-color: transparent;
    color: #e41a2b;
  }
  
  .info_section .info_social .social_container {
    display: flex;
  }
  
  .info_section .info_social .social_container a {
    width: 30px;
    height: 30px;
    display: flex;
     justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 0 5px;
    color: #1a1c78;
    font-size: 16px;
  }
  
  .info_section .info_social .social_container a:hover {
    color: #e41a2b;
  }
  
  /* footer section*/
  .footer_section {
    position: relative;
    background-color: #030d47;
    text-align: center;
  }
  
  .footer_section p {
    border-top: 1px solid #ffffff;
    color: #ffffff;
    padding: 25px 0;
    margin: 0;
  }
  
  .footer_section p a {
    color: inherit;
  }